{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "reservation_id": $util.dynamodb.toDynamoDBJson($ctx.args.reservation_id)
  },
  "attributeValues": {
    "status": $util.dynamodb.toDynamoDBJson($ctx.args.status)
  }
}